/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  color: #060D10;
}

.conteiner {
  width: 1278px;
  margin: 0 auto;
}

/*header*/

.header {
  background-color: #66D1FF;
  padding: 34px 0;
  justify-content: center;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 6px 34px;
  min-width: 276px;
}

.tel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
  color: #060D10;
}


/* promo */

.promo {
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 2px #060D10;
  background-color: rgb(131, 166, 183);
  background-image: url(../img/promo-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.promo-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  display: flex;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
  margin-bottom: 60px;

}

.promo-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

/* about */

.about {
  background-color: rgba(102, 209, 255, 1);
  padding: 170px 0 0 0;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #060d10;
  font-size: 48px;
  line-height: 167%;
  margin-bottom: 100px;
}

.about-heading {
  font-family: 'Oswald';
  font-style: normal;
  font-size: 32px;
  line-height: 167%;
  margin-bottom: 70px;
}

.about-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}

/* afterwords */

.afterwords {}

.afterwords-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.btn-afterwords {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  border-radius: 4px;
  background-color: rgba(196, 196, 196, 0);
  padding: 17px, 105px, 19px;
  color: #060D10;
  margin: 60px, 0, 130px;
}

.photo {
  width: 297px;
  height: 297px;
  padding: 0 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Footer */

.footer {
  background-color: #060D10;
  color: #FFFFFF;
}

.footer-wrap {
  display: flex;
  padding: 35px 0;
  align-items: center;
}

.footer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  margin-right: 50px;
}


.footer-copy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  text-align: right;
  margin: 0 0 0 auto;
}
