/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */


/* Header */
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #060D10
}

.tel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #060D10;
}

/* Promo */
.promo-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-align: center;
  color: #FFFFFF;
}

.promo-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF
}

/* About */
.about-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  color: #060D10;
}

.about-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  color: #060D10;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  color: #060D10
}

/* Afterwords */
.afterwords-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  color: #060D10;
}

.btn-afterwords {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #060D10;
}

/* Footer */

.footer-text {
  font-family: 'Montserrat', sans-serif;
  ;
  font-size: 20px;
  font-weight: 500;
  line-height: 167%;
  text-align: center color#FFFFFF;
}


.footer-copy {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}